/* ======== VARIABLES ======== */
:root {
  /* Текстові та фонові кольори */
  --primary-white-color: rgb(255 255 255);
  --primary-black-color: rgb(67 68 85);
  --secondary-black-color: rgb(46 47 66);
  --secondary-bg-color: rgb(244 244 253);

  /* Брендові та акцентні кольори */
  --primary-brand-color: rgb(77 90 229); /* Iris */
  --primary-accent-color: rgb(64 75 191); /* Ocean */

  /* Колір для рамок (Borders) */
  --secondary-accent-color: rgb(231 233 252);
}

/* ======== /VARIABLES ======== */

/* ======== COMMON / reset STYLES ======== */
body {
  font-family: var(--primary-font);
  color: var(--primary-black-color);
  background-color: var(--primary-white-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-black-color);
}

.benefits-desc,
.team-desc,
.portfolio-desc {
  font-size: 16px;
  color: var(--primary-black-color);
}

.section-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--secondary-black-color);
}
/* ======== /COMMON STYLES ======== */

/* ======== HEADER STYLES ======== */
.page-header {
  border-bottom: 1px solid var(--secondary-accent-color);
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo .logo-part {
  color: var(--secondary-black-color);
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  color: var(--secondary-black-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  position: relative;
}

.nav-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--primary-accent-color);
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  color: var(--primary-black-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
  color: var(--primary-accent-color);
}
/* ======== /HEADER STYLES ======== */

/* ======== HERO SECTION ======== */
.hero {
  max-width: 1440px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 188px 0;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/hero/hr-box-opt.jpg');

  background-repeat: no-repeat; /* Уникнення повторення зображення */
  background-position: center; /* Вирівнювання по центру */
  background-size: cover; /* Розтягування на всю площу */
}

.main-title {
  max-width: 496px;
  margin: 0 auto 48px auto;
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
}

.hero-btn {
  display: block;
  min-width: 169px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);
  background-color: var(--primary-brand-color);
  /* transition для плавної зміни фону */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--primary-accent-color);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
/* ======== /HERO SECTION ======== */

/* ======== BENEFITS SECTION ======== */
.benefits-list {
  display: flex;
  gap: 24px;
}

.benefits-item {
  width: calc((100% - 3 * 24px) / 4);
}

.bnf-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  margin-bottom: 8px;
  background-color: var(--secondary-bg-color);
  border: 1px solid rgb(142 143 153);
  border-radius: 4px;
}

/* ======== /BENEFITS SECTION ======== */

/* ======== TEAM SECTION ======== */
.team {
  background-color: var(--secondary-bg-color);
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0 0 4px 4px;
  background-color: var(--primary-white-color);
  /* Додаємо постійну тінь для всіх карток команди */
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-item img {
  display: block;
}

.team-content {
  padding: 32px 0px;
  text-align: center;
}

.tm-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.tm-item {
  width: 40px;
  height: 40px;
}

.tm-item-link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand-color);
  /* Основний синій колір */
  border-radius: 50%;
  /* Робимо круглу кнопку */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tm-item-link:hover,
.tm-item-link:focus {
  background-color: var(--primary-accent-color);
  /* Колір при наведенні */
}

.tm-icon {
  fill: var(--secondary-bg-color);
  /* Світлий колір самої іконки всередині кола */
}

/* ======== /TEAM SECTION ======== */

/* ======== PORTFOLIO SECTION ======== */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-item {
  width: calc((100% - 2 * 24px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* 1. Ефект тіні при ховері на всю картку (li) */
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.pf-thumb {
  position: relative;
  overflow: hidden; /* приховує оверлей коди він зміщений вниз */
}

.pf-thumb img {
  display: block;
  max-width: 100%;
  height: auto;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-bg-color);
  background-color: var(--primary-brand-color);
  /* Початковий стан (знизу за межами видимості) */
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Поява оверлею при наведенні на li */
/* 3. Селектор нащадка: зміна transform при ховері на батька (li) */
.portfolio-item:hover .overlay-text,
.portfolio-item:focus .overlay-text {
  transform: translateY(0);
}

.portfolio-content {
  padding: 32px 16px;
  border: 1px solid var(--secondary-accent-color);
  border-top: none;
}
/* ======== /PORTFOLIO SECTION ======== */

/* ======== PAGE FOOTER ======== */
.page-footer {
  padding: 100px 0;
  background-color: var(--secondary-black-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
  /* Вирівнювання по базовій лінії тексту */
}

.footer-info {
  margin-right: 120px;
  /* Відступ між описом та соцмережами */
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo .logo-part {
  color: var(--secondary-bg-color);
}

.footer-desc {
  max-width: 264px;
  font-weight: 400;
  font-size: 16px;
  color: var(--secondary-bg-color);
}

/* Соціальні мережі у футері */

.ft-social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
  margin-bottom: 16px;
}

.ft-list {
  display: flex;
  gap: 16px;
}

.ft-item {
  width: 40px;
  height: 40px;
}

.ft-item-link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Специфічний колір для футера при наведенні */
.ft-item-link:hover,
.ft-item-link:focus {
  background-color: rgb(49 208 170);
}

.ft-icon {
  fill: var(--secondary-bg-color);
}

/* Додаємо відступ для контейнера підписки */
.ft-social-media {
  margin-right: 80px;
  /* Відступ згідно з макетом */
}

.subscribe-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
}

.subscribe-form {
  display: flex;
  gap: 24px;
  /* Відстань між інпутом та кнопкою */
}

.subscribe-input {
  width: 264px;
  height: 40px;
  border: 1px solid var(--primary-white-color);
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--primary-white-color);
  outline: none;

  /* Додаємо перехід для плавної зміни кольору рамки */
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-input::placeholder {
  color: var(--primary-white-color);
  /* color: rgb(49 208 170); */
}

/* Зелена рамка при наведенні (hover) та активному стані (focus) */
.subscribe-input:hover,
.subscribe-input:focus {
  border-color: rgb(49 208 170);
}

.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center; 

  font-family: "Roboto", sans-serif; 

  min-width: 165px;
  height: 40px;
  background-color: var(--primary-brand-color);
  border-radius: 4px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);       
}

/* Ефект при наведенні на кнопку підписки (зелений колір зі скріна) */
.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: rgb(49 208 170);
}

.subscribe-icon {
  margin-left: 16px;
  fill: var(--primary-white-color);
  /* Розміри іконки  */
    width: 24px;
    height: 24px;
}


/* ======== /PAGE FOOTER ======== */

/* ======== BACKDROP with MODAL ======== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgb(46 47 66 / 0.4);
  /* background-color: rgba(46, 47, 66, 0.4); */

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  z-index: 1000;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;

  transform: translate(-50%, -50%);

  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;  
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  padding: 0; 
  cursor: pointer;   
  background-color: var(--secondary-accent-color);
  /* rgb(231 233 252) */
  border: 1px solid rgba(0, 0, 0, 0.1);      
  color: var(--secondary-black-color);
  
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--primary-accent-color);
  border: none;
  /* Змінюємо колір кнопки, який наслідує іконка */ 
  color: var(--primary-white-color);
}

.modal-close-icon {
  /* іконка бере колір з властивості color кнопки */
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-black-color);   
  margin-bottom: 16px;
}

/* ======== /BACKDROP with MODAL ======== */


/* ======== MODAL FORM ======== */ 

.modal-field-wrapper {
  margin-bottom: 8px;
}

.comment-margin {
  margin-bottom: 16px;
}

.modal-label{   
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgb(142 143 153);
    margin-bottom: 4px;
}

.modal-input-wrapper {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;   
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;   
  padding-left: 38px;
  border: 1px solid rgb(46 47 66 / 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--primary-brand-color);
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--secondary-black-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus+.modal-input-icon {
  fill: var(--primary-brand-color);
}

/* Textarea styling */
.modal-comment {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgb(46 47 66 / 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:focus {
  border-color: var(--primary-brand-color);
}

.modal-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  /* Округлено від 1.16667 */
  letter-spacing: 0.04em;
  color: rgb(46 47 66 / 0.4);
}

/* Custom Checkbox */
.modal-checkbox-wrapper {
  margin-bottom: 24px;
}

.modal-checkbox-label {
  /* flex для вирівнювання тексту та кастомного квадрата в один рядок */
  display: flex;
  align-items: center;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-custom-checkbox {
  /* Забороняємо стискання квадрата, якщо текст довгий */
  flex-shrink: 0;

  display: inline-flex; 

  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  /* Початковий стан (Normal) */
  border: 1px solid rgb(46 47 66 / 0.4);
  border-radius: 2px;
  background-color: transparent;
  fill: transparent; /* Ховаємо іконку галочки */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Стан Active (Checked) */
.modal-checkbox:checked + .modal-checkbox-label > .modal-custom-checkbox {
  background-color: var(--primary-accent-color); /* Синій фон */
  border: none;
  fill: var(--secondary-bg-color); /* Робимо іконку галочки білою */
}

/* Стиль для посилання */
.modal-privacy-link {
  color: var(--primary-brand-color);
  text-decoration: underline;
  margin-left: 4px;
    /* Невеликий відступ від тексту */   
}

.modal-check-icon {
  /* Забезпечує правильне центрування іконки */
  display: block;    /* Прибираємо можливі інлайнові відступи */

  /* Якщо не використовуємо currentColor, задаємо колір тут */
  fill: var(--secondary-bg-color);

  /* Плавна поява іконки при зміні fill (хоча початково вона прихована батьком) */
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

/* Submit Button */
.modal-submit-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  background-color: var(--primary-brand-color);
  color: var(--primary-white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: var(--primary-accent-color);
}

/* ======== /MODAL FORM ======== */

